<h2 class="page-title">New Project</h2>
<mat-card class="scrollable" layout="column" flex="flex">
  <div class="single-project new-project" layout="column">
    <div class="clearfix">
      <div class="col-md-12">
        <div class="form-group">
          <label layout="row"><span>Project Name</span>
            <input class="form-control" [(ngModel)]="project.name" name="name"  required flex="flex"/>
          </label>
        </div>
     
        <div class="form-group">
          <label layout="row"><span>Project Description</span>
            <textarea class="form-control" [(ngModel)]="project.description" name="description" flex="flex"></textarea>
          </label>
        </div>
        <div class="form-group">
          <label layout="row"><span>Tag</span>
            <input class="form-control" type="number" [(ngModel)]="project.releaseNumber" required="required" flex="flex"/>
          </label>
        </div>
        <div class="form-group">
          <label layout="row"><span>Release Date</span>
            <input style="max-width:100px" flex="flex" class="form-control" matInput [matDatepicker]="datepicker1" placeholder="" [(ngModel)]="project.releaseDate" required>
            <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #datepicker1></mat-datepicker>
          </label>
        </div>
      </div>
    </div><br/>
    <div class="clearfix text-center" [hidden]="project.projectId">
      <button class="loading-button btn btn-info" (click)="save()" [disabled]="isSaving || !project.name">Save</button><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-primary" (click)="back()">Back</button>
    </div>
  
  </div>
</mat-card>