<div id="form-page">
  <div class="main-form" id="login-form">
    <h2 class="text-center">Login or <a routerLink="/register">Sign up</a></h2><br/>
    <div *ngIf="isSubmit && loginFailed" class="alert alert-danger">Login failed, please check your username and password</div>
    <div class="row form-group">
      <div class="col-md-6"><a class="btn btn-social btn-lg btn-default btn-github" href="/auth/github">Github</a></div>
      <div class="col-md-6"><a class="btn btn-social btn-lg btn-default btn-google" (click)="googleAuth()">Google+</a></div>
    </div>
    <form name="loginForm" method="post" >
      <div class="input-group form-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" [(ngModel)]="user.email"  id="email" name="email" type="email"/>
      </div>
      <div class="input-group form-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input class="form-control" [(ngModel)]="user.password" name="password" type="password"/>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-lg btn-success btn-block" (click)="doLogin()">Login</button>
        </div>
        <div class="col-md-6"><a class="btn btn-lg btn-info btn-block" onclick="forgotPassword()">Forgot password</a></div>
      </div>
    </form>
  </div>
</div>
